body{
    height: 100vh;
    margin: 0;
}

.menu{
    list-style-type: none;
    padding-left: 150px;
}

.header{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 14.4vh;
    position: relative;
}

.menu_bar{
    display: flex;
}

.logo{
    width: 6.25vw;
    left: 20px;
}

.logo-container{
    position: absolute;
    left: 20px;

}

.menu a{
    color: black;
    text-decoration: none;
    font-size: 1.3em;
    white-space: nowrap;
}

.menu_bar .menu:last-child a{
    padding-right: 20px;
    font-size: 1em;
    color: #0132b0;
}

@media (max-width: 768px){
    .menu{
        padding-left: 80px;
    }
    .menu a{
        font-size: 1em;
    }
    .menu_bar .menu:last-child a{
        font-size: 0.8em;
    }
}

@media (max-width: 500px){
    .menu{
        padding-left: 30px;
    }
    .menu a{
        font-size: 0.7em;
    }
    .menu_bar .menu:last-child a{
        font-size: 0.4em;
    }
}