.menu_bar .menu:nth-child(3) a{
    color: #1556F7;
    font-weight: bold;
}
.Creative{
    color: #003acb;
    font-size: 96px;
    margin-left: 350px;
}
.Nurture{
    -webkit-text-stroke: 1px #003acb;
    color: white;
    font-size: 96px;
    margin-left: 830px;
}
.Strive{
    color: #003acb;
    font-size: 96px;
    margin-left: 450px;
}
.Phrases{
    margin-left: 1000px;
    color: #012A8E;
    font-style:oblique;
    font-weight: 900;
}
.main-body{
    background: linear-gradient(white, #C7D6FB 50%, #90ADF6);
}
.IDA1{
    margin-top: 357px;
}
.IDA1 {
    display: flex;
    align-items: center;
}
.ida1 {
    margin-right: 20px;
}
.text-container1 {
    text-align: left;
}
.ida-image{
    margin-left: 50px;
}
.title {
    font-size: 55px;
    margin-bottom: 10px;
    margin-top: 454px;
    margin-right: 162px;
}
.text-ida {
    font-size: 200px;
    background: linear-gradient(to right, #003ACB, #002C98 70%,#001D65);
    color: transparent;
    -webkit-background-clip: text;
    font-weight: bold;
    margin-right: 200px;
}
.ida2{
    margin-top: 295px;
    margin-left: 700px;
}
.large-text {
    font-size: 100px;
    color: #003ACB;
}
.small-text{
    font-size: 40px;
}
.firstStep{
    font-size: 60px;
    font-weight: bold;
    margin-bottom: 0px;
}
.text-ida2{
    margin-top: 0px;
    margin-bottom: 0px;
}
.start{
    font-size: 60px;
    margin-top: 0px;
}
.text-container2{
    text-align: left;
}